
@import 'normalize.css';
@import 'bootstrap_grid';

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import '_header.scss';

@import 'test_1.css';
@import "https://unpkg.com/aos@2.3.1/dist/aos.css";

/*-------------------------*/

.iframe { width:100vw; min-height: 100vh; }
.visible-wrap{ 
  overflow: hidden !important; 
}
/*-------------------------*/

.bottom-bar-wrap { 
  position: fixed; bottom: -80px; 
  width:100%; height: 80px; display: flex; 
  justify-content:center; z-index: 100;
  background-color: #000000; overflow: hidden;
  transition: bottom 0.3s; 
  &.show{ bottom: 0px; }
  >.bottom-bar{
    width:100%; max-width: 1336px; margin: 0 auto; 
    background-color:#1A1E27; line-height: 0;
    display: flex; 

    >button{
      display:flex; width:100%; height:100%; font-weight: bold;
      align-items:center; justify-content:center;
      color:#ffffff; background-color: transparent;
      border-left: solid #3F5269 1px; cursor: pointer;
      transition: all 0.25s;
      &:hover{
        background-color: #000000;
      }
      span { font-weight:bold;}
      svg{margin-right: 12px;}
      &#btn-bottom-share { svg{ path{ fill:#D1D5DB; } } }
      &#btn-bottom-list { svg{ path{ stroke:#D1D5DB; } } }
      &#btn-bottom-apply { svg{ path{ fill:#D1D5DB; } } }
      &#btn-bottom-donate { 
        svg{ path{ fill:#B91C1C; } }
        border-right: solid #3F5269 1px;
        font-size:20px;
      }
    }
    &:nth-child(2){
      border-left: solid #D1D5DB 1px;
    }
    img{ max-width:100%; }
  }
}
.list-bar-wrap{
  position: fixed; bottom: -100%; width:100%; height:330px;
  display: flex; justify-content:center; z-index: 9000;
  transition:bottom 0.3s;
  &.active{ bottom: 0;}
  .list-bar {
    position:absolute; width:100%; height:100%;
    margin: 0 auto; background-color:#ffffff; display: flex;
    bottom:0px; align-items:center; justify-content:center;
  }
  .list-bar-swiper-container{
    display:flex; position: relative;
    
    >.swiper-wrapper{
      display:flex; position: relative;
      &::before, &::after {
        content:''; display: block; position: absolute;
        width: 150px; height:100%;
      }
      &::before{ 
        left:0; top:0; 
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%);
      }
      &::after{ 
        right:0; top:0; 
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
      }
    }
    >.swiper-button-prev, .swiper-button-next{
      display:flex; width:40px; height:40px; border-radius:50%;
      position:absolute; margin: auto; top:0; bottom:0;
      background-color: #ffffff; filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
      justify-content:center; align-items:center; cursor:pointer;
      svg{ width: 24px; height: 24px; }
    }
    >.swiper-button-left{
      left:0;
    }
    >.swiper-button-next{
      right:0;
    }
  }
  .list-bar-card{
    width:214px; height: 250px; display:flex; flex-direction:column;
    flex-shrink:0; flex-grow:0; margin: 0 8px;
    >.thumb-wrap{
      width: 100%; height: 150px; overflow: hidden; border-radius: 16px;
      position: relative; flex-shrink:0;
      >img { max-width:100%; object-fit:cover; }
    }
    >.card-body{
      width: 100%; height:100%; padding-top: 8px; 
      span { display: block; color:#6B7280; }
      .category { width:100%; font-size: 14px; }
      .title {
        font-size: 16px; font-weight: bold; word-break:keep-all;
        line-height: 1.3em; 
      }
    }
    &.selected {
      >.thumb-wrap{
        &::before{
          content:''; display: block; width:100%; height:100%; position: absolute;
          top:0; left:0; background-color: rgba(0,0,0,0.5);
        }
        &::after{
          content:''; display: block; width:48px; height:48px; position: absolute;
          margin: auto; top:0; left:0; right:0; bottom:0;
          background-image:url(../img/list_card_selected.svg);
        }
      }
      >.card-body{
        span { color:#000; }
      }
    }
  }  
}

/*------------------------*/

.section-fin {
  width:100%; min-height: 100vh; background-color: #ECF1F1;
  display: flex; justify-content: center; align-items: center;
  padding: 100px auto;
  .fin-content-full{
    width: 1366px; margin: 150px auto;
  }
}

/*------------------------*/

.section-template-old {
  width:100%; min-height: 100vh; display: flex; justify-content: center; align-items: center;
  img{
    margin-top: 240px; margin-bottom:150px;
  }
}